@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(6,6,6);
  background: linear-gradient(90deg, rgba(6,6,6,1) 0%, rgba(7,21,50,1) 35%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 100px;
  
}

.Footer{
  margin-top: 140px;
  font-size: larger;
  color: white;
  
}

img{
  width: 60vw;
  border: 3px linear yellow;
}

h1, h2{
  color: yellow;
}

h1{
  font-family: 'Star Wars', sans-serif;

  font-size: 7rem;
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p{
  font-size: 1.4rem;
}

p:hover{
  color: aqua;
}